<h2>Réinitialiser votre mot de passe</h2>

<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">

  <!-- Message en haut -->
  <p *ngIf="message" style="color: blue; font-weight: bold">{{ message }}</p>

  <!-- Champ email caché -->
  <input type="hidden" formControlName="email" />

  <!-- Mot de passe temporaire -->
  <input type="text" formControlName="tempPassword" placeholder="Mot de passe temporaire" readonly />

  <!-- Nouveau mot de passe -->
  <input type="password" formControlName="newPassword" placeholder="Nouveau mot de passe" />

  <!-- Confirmation -->
  <input type="password" formControlName="confirmPassword" placeholder="Confirmer le mot de passe" />

  <button type="submit">Modifier</button>

  <p *ngIf="error" style="color: red">{{ error }}</p>
</form>
