<div class="publication-form">
  <h2>Ajouter une publication</h2>

  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <form (ngSubmit)="addPublication()">


    <div class="form-group">
      <label for="contenu">Contenu</label>
      <textarea id="contenu" [(ngModel)]="contenu" name="contenu" class="form-control" required></textarea>
    </div>
    <div class="form-group">
      <label for="file">Fichier (optionnel)</label>
      <input type="file" id="file" (change)="onFileSelected($event)" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!contenu">Ajouter</button>
  </form>
</div>
